<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headers') %>
</head>
<body>
  <!-- header section -->
  <%- include('partials/navbar', { isLoggedin: is_Loggedin, is_Admin: is_Admin, is_Manager: is_Manager }) %>
  
    <div class="uk-section">
        <div class="uk-container">
            <h3>Employee Details Report</h3>
        </div>
    </div>
    
    <div class="uk-container">
        <div class="uk-flex uk-flex-right" style="padding-right: 35px;">
            <a class="uk-button" onclick="download_report()" href="#!">Download Report <span uk-icon="icon: download"></span></a>
        </div>
        <table class="uk-table uk-table-striped" id="emp_table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Acct No</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Join Date</th>
                    <th>Blood Group</th>
                    <th>Pay Method</th>
                    <th>Salary</th>
                </tr>
            </thead> 
            <tbody>
                <% for( let i=0; i < emp.length; i++ ) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= emp[i].emp_acct %></td>
                        <td><%= emp[i].emp_name %></td>
                        <td><%= emp[i].emp_phone %></td>
                        <td><%= emp[i].emp_email %></td>
                        <td><%= emp[i].emp_dob %></td>
                        <td><%= emp[i].emp_join_date %></td>
                        <td><%= emp[i].emp_blood_group %></td>
                        <td><%= emp[i].emp_pay_method %></td>
                        <td><%= emp[i].emp_salary %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="uk-section">
        <div class="uk-container"></div>
    </div>
  
    <script>
        function download_report() {
            $('#emp_table').table2excel({
                name: 'Employees Report',
                filename: 'employees_report',
                preserveColors: true
            });
        }
    </script>
    
  <!-- footer section -->
  <%- include('partials/footer') %>
</body>
</html>